.bookcard-container{
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    width: 180px;
    text-align: left;
    padding: 20px;
    /* margin: 20px; */
    border-radius: 12px;
}
.bookcard-img{
    height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}